<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>



<div class="container">
    <div class="pagination">

            
    <button onclick="page1()"> <a href="#">1</a></button>
    <button onclick="page2()"><a href="#">2</a></button>
    <button onclick="page3()"><a href="#">3</a></button>
    <button onclick="page4()"><a href="#">4</a></button>
    <button onclick="page5()"><a href="#">5</a></button>
    <button onclick="page6()"><a href="#">6</a></button>
    <button onclick="page7()">7</button>
    <button onclick="page8()">8</button>
    <button onclick="page9()">9</button>
    <button onclick="page10()">10</button>
    <button onclick="page11()">11</button>
    <button onclick="page12()">12</button>
    <button onclick="page13()">13</button>
    <button onclick="page14()">14</button>
    <button onclick="page15()">15</button>
    <button onclick="page16()">16</button>
    <button onclick="page17()">17</button>
            </div>
  
   
    

    <p id="demo"></p>
      </div>




    <script>
        function page1() {
            var arr1 = ['sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'qui est esse', 'ea molestias quasi exercitationem repellat qui ipsa sit aut', 'eum et est occaecati', 'nesciunt quas odio', 'dolorem eum magni eos aperiam quia'];
            var i, flex, text;
            flex = arr1.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr1[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;

        }

        function page2() {
            var arr2 = ['magnam facilis autem', 'dolorem dolore est ipsam', 'nesciunt iure omnis dolorem tempora et accusantium', 'optio molestias id quia eum', 'et ea vero quia laudantium autem', 'in quibusdam tempore odit est dolorem'];

            var i, flex, text;
            flex = arr2.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr2[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;

        }


        function page3() {
            var arr3 = ['dolorum ut in voluptas mollitia et saepe quo animi',
                'voluptatem eligendi optio',
                'eveniet quod temporibus',
                'sint suscipit perspiciatis velit dolorum rerum ipsa laboriosam odio',
                'fugit voluptas sed molestias voluptatem provident',
                'voluptate et itaque vero tempora molestiae'
            ];
            var i, flex, text;
            flex = arr3.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr3[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page4() {
            var arr4 = ['adipisci placeat illum aut reiciendis qui',
                'doloribus ad provident suscipit at',
                'asperiores ea ipsam voluptatibus modi minima quia sint',
                'dolor sint quo a velit explicabo quia nam',
                'maxime id vitae nihil numquam',
                'autem hic labore sunt dolores incidunt'
            ];
            var i, flex, text;
            flex = arr4.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr4[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page5() {
            var arr5 = ['rem alias distinctio quo quis',
                'est et quae odit qui non',
                'quasi id et eos tenetur aut quo autem',
                'delectus ullam et corporis nulla voluptas sequi',
                'iusto eius quod necessitatibus culpa ea',
                'a quo magni similique perferendis'
            ];
            var i, flex, text;
            flex = arr5.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr5[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page6() {
            var arr6 = ['ullam ut quidem id aut vel consequuntur',
'doloremque illum aliquid sunt',
'qui explicabo molestiae dolorem',
'magnam ut rerum iure',
'id nihil consequatur molestias animi provident',
'fuga nam accusamus voluptas reiciendis itaque'
            ];
            var i, flex, text;
            flex = arr6.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr6[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page7() {
            var arr7 = ['provident vel ut sit ratione est',
'explicabo et eos deleniti nostrum ab id repellendus',
'eos dolorem iste accusantium est eaque quam',
'enim quo cumque',
'non est facere',
'commodi ullam sint et excepturi error explicabo praesentium voluptas'
            ];
            var i, flex, text;
            flex = arr7.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr7[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }
function page8() {
            var arr8 = ['eligendi iste nostrum consequuntur adipisci praesentium sit beatae perferendis',
'optio dolor molestias sit',
'ut numquam possimus omnis eius suscipit laudantium iure',
'aut quo modi neque nostrum ducimus',
'quibusdam cumque rem aut deserunt',
'ut voluptatem illum ea doloribus itaque eos'];
            var i, flex, text;
            flex = arr8.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr8[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;

        }

        function page9() {
            var arr9 = ['laborum non sunt aut ut assumenda perspiciatis voluptas',
'repellendus qui recusandae incidunt voluptates tenetur qui omnis exercitationem',
'soluta aliquam aperiam consequatur illo quis voluptas',
'qui enim et consequuntur quia animi quis voluptate quibusdam',
'ut quo aut ducimus alias',
'sit asperiores ipsam eveniet odio non quia'];

            var i, flex, text;
            flex = arr9.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr9[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;

        }


        function page10() {
            var arr10 = ['sit vel voluptatem et non libero',
'qui et at rerum necessitatibus',
'sed ab est est',
'voluptatum itaque dolores nisi et quasi',
'qui commodi dolor at maiores et quis id accusantium',
'consequatur placeat omnis quisquam quia reprehenderit fugit veritatis facere'
            ];
            var i, flex, text;
            flex = arr10.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr10[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page11() {
            var arr11 = ['voluptatem doloribus consectetur est ut ducimus',
'beatae enim quia vel',
'voluptas blanditiis repellendus animi ducimus error sapiente et suscipit',
'et fugit quas eum in in aperiam quod',
'consequatur id enim sunt et et',
'repudiandae ea animi iusto'
            ];
            var i, flex, text;
            flex = arr11.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr11 [i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page12() {
            var arr12 = ['aliquid eos sed fuga est maxime repellendus',
'odio quis facere architecto reiciendis optio',
'fugiat quod pariatur odit minima',
'voluptatem laborum magni',
'et iusto veniam et illum aut fuga',
'sint hic doloribus consequatur eos non id'
            ];
            var i, flex, text;
            flex = arr12.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr12[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page13() {
            var arr13 = ['consequuntur deleniti eos quia temporibus ab aliquid at',
'enim unde ratione doloribus quas enim ut sit sapiente',
'dignissimos eum dolor ut enim et delectus in',
'doloremque officiis ad et non perferendis',
'necessitatibus quasi exercitationem odio',
'quam voluptatibus rerum veritatis'
            ];
            var i, flex, text;
            flex = arr13.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr13[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page14() {
            var arr14 = ['pariatur consequatur quia magnam autem omnis non amet',
'labore in ex et explicabo corporis aut quas',
'tempora rem veritatis voluptas quo dolores vero',
'laudantium voluptate suscipit sunt enim enim',
'odit et voluptates doloribus alias odio et',
'optio ipsam molestias necessitatibus occaecati facilis veritatis dolores aut'
            ];
            var i, flex, text;
            flex = arr14.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr14[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }
 function page15() {
            var arr15 = ['dolore veritatis porro provident adipisci blanditiis et sunt',
'placeat quia et porro iste',
'nostrum quis quasi placeat',
'sapiente omnis fugit eos',
'sint soluta et vel magnam aut ut sed qui',
'ad iusto omnis odit dolor voluptatibus'
            ];
            var i, flex, text;
            flex = arr15.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr15[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page16() {
            var arr16 = ['aut amet sed',
'ratione ex tenetur perferendis',
'beatae soluta recusandae',
'qui qui voluptates illo iste minima',
'id minus libero illum nam ad officiis',
'quaerat velit veniam amet cupiditate aut numquam ut sequi'
            ];
            var i, flex, text;
            flex = arr16.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr16[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        function page17() {
            var arr17 = ['quas fugiat ut perspiciatis vero provident',
'laboriosam dolor voluptates',
'temporibus sit alias delectus eligendi possimus magni',
'at nam consequatur ea labore ea harum'
            ];
            var i, flex, text;
            flex = arr17.length;
            text = "<ul>"
            for (i = 0; i < flex; i++) {
                text += "<li>" + arr17[i] + "</li>"
            }
            text += "</ul>";
            document.getElementById("demo").innerHTML = text;
        }

        

    </script>
    <button id="edit" onclick="show()">edit</button>
   
    
        <div id="show" ng-app="myApp" ng-controller="myCtrl">
    
       <p>title<input type="text" ng-model="title"></p> 
        
       <p>content<input type="text" ng-model="content">
        {{content}}</p> 
    
    
       </div>

    

<script>
    document.getElementById("show").style.display='none';
    function show(){
    $window.location.href = 'file:///E:/javascriptpractise/show.html';
    document.getElementById("show").style.display='block';
    
     }

    
</script>
  
</body>

</html>
